figure {
    display: flex;
    flex-direction: column;
}

.mermaid-outer {
    width: 100%;
    height: 75vh;
    min-height: 20em;
    overflow: scroll;
    touch-action: none;
}

.entry__content {
    overflow: initial; /* I don't know who's stupid idea this was */
}

.mermaid {
    width: 400%;
}

.mermaid-source {
    display: block;
    overflow: hidden;
    height: 1em;
    width: 100%;
}

.mermaid-source:hover {
    height: initial;
}

.mermaid a text {
    fill: #00f!important;
}

.mermaid .section-root .node-bkg, .section-root polygon {
    fill: #f00!important;
}

.mermaid .section-root tspan {
    fill: #ff0;
}

a, h1, h2, h3, h4, h5, h6 {
    color: #d95cac;
}

main a {
    text-decoration: underline;
}