[submodule ".\\app\\ite8291"]
	path = .\\app\\ite8291
	url = https://github.com/empathicqubit/ite8291-backlight-browser
[submodule "app/ite8291"]
	path = app/ite8291
	url = https://github.com/empathicqubit/ite8291-backlight-browser
